.linkage-actions {
  .title {
    margin-bottom: 18px;
    height: 20px;
    line-height: 20px;

    .title-text {
      display: inline-block;
      vertical-align: top;
      width: 200px;
    }

    .title-btn {
      display: inline-block;
      vertical-align: top;
    }
  }
}
