.linkage-rule {
  margin-bottom: 16px;

  .panel-head {
    margin-bottom: 10px;

    .title {
      font-size: 14px;
    }

    .operations {
      float: right;

      .fold-icon {
        transition: transform 0.15s linear;

        &.fold {
          transform: rotateZ(-180deg);
        }
      }

      .next-btn {
        margin-left: 15px;
      }

      .btn-delete:not(:hover) {
        color: #666;
      }
    }
  }

  .panel-body {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    padding: 20px 30px;

    &.fold {
      height: 0;
      padding: 0;
    }

    .devider {
      margin: 20px 0;
      margin-left: -30px;
      border-top: 1px solid rgb(227, 227, 227);
      width: calc(100% + 60px);
    }
  }
}
