.rstcustom__rowContents {
  padding: 0 30px;
}
.rst__rowWrapper {
  padding: 6px 0;
}
.rst__node.active {
  z-index: 1;
}
.rst__nodeContent {
  position: relative!important;
  top: unset!important;
  bottom: unset!important;
  height: 100%!important;
}
.rst__rowContents {
  border: 1px solid #DADADA;
  background-color: #F2F2f2;
  padding: 0;
  width: 100%;  
  box-shadow: unset;
  .next-select {
    width: 100%;
  }
  &.actived {
    border: 1px solid #4546EE;
    box-shadow: none;
  }
}
.rst__rowCursor {
  display: flex;
  align-items: center;
  color: #4546EE;
  cursor: pointer;
  z-index: 1;
  &:hover {
    & .rst__rowCursor__cnt__iconContaner {
      display: flex;
    }
  }
  &__cnt {
    position: relative;
    &__iconContaner {
      position: absolute;
      display: none;
      align-content: center;
      align-items: center;
      top: -7px;
      left: -10px;
      padding: 0 5px;
      height: 30px;
      background-color: #FFF;
      box-shadow: 1px 1px 4px rgba(1,1,4,.12);
      border-radius: 18px;
      .zoom-cnt {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__iconContainer {
          &__icon {
            margin-right: 8px;
            font-size: 20px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  &__container {
    display: flex;
    position: relative;
    top: -10px;
  }
}

.rst__rowCursor__pointer {
  font-size: 21px;
  height: 21px;
  line-height: 21px;
  color: #4546EE;
  z-index: 0;
}

.rst__rowLandingPad,
.rst__rowCancelPad {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.rst__rowLandingPad > *,
.rst__rowCancelPad > * {
  opacity: 0 !important;
}
.rst__rowLandingPad::before,
.rst__rowCancelPad::before {
  display: 'block';
  background-color: #F2F2F2!important;
  border: 1px dashed #DADADA!important;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0!important;
}
/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
 .rst__rowCancelPad::before {
  // display: none;
  background-color: #e6a8ad!important;
}

.rst__row {
  & .rst__rowContents {
    cursor: move!important;
    &.rst__rowContentsDragDisabled {
      cursor: default!important;
    }
  }
}
.rst__formWrapper {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  &__title {
    padding: 12px 16px 11px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    border-bottom: 1px solid rgb(225,225,225);
  }
}

.rst__contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  & .rst__rowToolbar {
    display: none;
  }
  & .rst__rowName {
    display: block;
  }
  &:hover {
    box-shadow: 1px 1px 4px rgba(1,1,4,.12);
    & .rst__rowToolbar {
      display: block;
    }
    & .rst__rowName {
      display: none;
    }
  }
  .card-title {
    // cursor: text;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    margin-left: 4px;
  }
}
.rst__formWrapper__content {
  padding: 16px;
}
.rst__rowLabel {
  display: flex;
  align-items: center;
}
.rst__collapse,
.rst__expand {
  padding: 4px;
  width: 14px;
  height: 10px;
  background-image: url('//img.alicdn.com/tfs/TB1gS7iyFP7gK0jSZFjXXc5aXXa-20-12.png');
  background-size: 10px 6px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .1s;
  margin-right: 4px;
  cursor: pointer;
}
.rst__expand {
  transform: rotate(-90deg);
}

.node-icon {
  color: rgb(102,102,102);
}
.rst__rowTitle {
  display: flex;
  align-items: center;
  font-weight: unset;
  &.leaf {
    // padding-left: 20px;
  }
}
.rst__toolbarButton {
  cursor: pointer;
}
.rst__rowToolbar,
.rst__rowName {
  color: #aaa;
}
