.show{
  display: block;
}
.hide{
  display: none;
}
.main-panel{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:#ffffff;
  display: flex;
  flex-direction: column;
  z-index: 999;

  .icon-button{
    display: flex;
    align-items: center;
    i{
      margin-right: 4px;
    }
  }

  .height-32{
    height: 32px;
  }

  .header{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    height: 48px;
    z-index: 999;
    padding-right: 8px;
    border-bottom: 1px solid #DADADA;

    &-left{
      display: flex;
      align-items: center;
      .logo{
        width: 122px;
        background: #5A60FF;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        line-height: 48px;
        margin-right: 16px;
      }
    }

    &-right{
      &>.next-btn{
        margin-left: 8px;
        height: 32px;
      }
    }
  }

  .main{
    overflow: hidden;
    background: #f8f8f8;
    width: 100%;
    height: calc(100% - 48px);
    display: flex;

    &-left{
      width: 33%;
      background: #F8F8F8;
      border-right: 1px solid #DADADA;
      overflow: scroll;
    }

    &-right{
      position: relative;
      overflow: hidden;
      display: flex;
      flex-grow: 1;
      .breadcrumb{
        height: 40px;
        background: #F8F8F8;
        background-color: #F8F8F8;
        font-size: 12px;
        color: #333333;
        padding: 0 20px;
        line-height: 40px;
        font-family: PingFangSC-Regular;
      }

      .next-breadcrumb .next-breadcrumb-text{
        height: unset;
        line-height: unset;
      }
      .next-breadcrumb .next-breadcrumb-separator{
        margin: 0 4px;
      }
      
      .main-right-content{
        display: flex;
        height: calc(100% - 40px);
      }
      .configure-panel-wrapper{
        // background: #F8F8F8;
        border-right: 1px solid #DADADA;
        // height: calc(100% - 40px);
        // background-color: #ffffff;
        // width: 100%;
        // overflow: hidden;
        // font-size: 40px;
      }
      .preview-pannel-wrapper{
        // width: 100%;
        flex-grow: 1;
        overflow: scroll;
        height: 100%;
      }
    }

    .next-breadcrumb {
      height: 100%;
      line-height: 40px;
      .next-breadcrumb-item{
        // display: flex;
        // align-items: center;
      }
      // .next-breadcrumb-item{
      //   vertical-align: middle;
      //   font-size: inherit;
      // }
      .next-breadcrumb-text{
        font-size:inherit;
      }
      .next-breadcrumb-separator{
        line-height: 40px;
        // vertical-align: middle;
        // font-size: inherit;
      }
    }
  }
}