.configure-panel{
  height: 100%;
  position: relative;
  .next-row{
    display: flex;
    justify-content: center;
  }
  .configure-form{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .next-select{
      width: 100%;
    }
  }
  .next-tabs{
    height: 100%;
  }
  .next-tabs{
    background-color: #ffffff;
  }
  .next-card{
    box-shadow: none;
  }
  .next-card-title{
    font-size: 14px;
  }
  .next-card-body{
    padding: 0 20px;
  }
  .next-tabs-content{
    // max-height: 200px;
    overflow: scroll;
    // max-height: (100% - 39px);
    height: calc(100% - 48px);
    background: #ffffff;
    padding-bottom: 50px;
  }
  .xcomponent-block-root{
    padding: 20px 0px;
  }
} 