$flags-width: 70px;
$gap: 8px;

.reg-input {
  display: flex !important;
  width: 100%;

  .content {
    vertical-align: top;
    width: calc(100% - #{$gap} - #{$flags-width}) !important;
  }

  .flags {
    vertical-align: top;
    width: $flags-width !important;
    margin-left: $gap !important;

    .next-tag {
      margin-right: 0;
    }

    .next-tag-body {
      padding-left: 0;
      min-width: 10px;
    }

    .next-tag-close-btn {
      padding-right: 4px;
      margin-left: 6px;
    }

    .next-select-values {
      padding: 3px 3px;
    }
  }
}
